



@media (min-width: 360px) {

	.h-logo{
		float: right;
		width: 45%;
		height: auto;
	}

	.new-logo{
		padding-left: 35%;
		width: 65%;
		height: auto;
	}

	.header-t{
		display: inline-block;
		text-align: center;
		font-size: 17px;
	}


	.header-t2
	{
		display: inline-block;
		text-align: center;
		font-size: 17px;
	}

	.header-t3{
		display: inline-block;
		text-align: center;
		font-size: 17px;
	}



}


@media (min-width: 375px) {

	.h-logo{
		float: right;
		width: 45%;
		height: auto;
	}

	.new-logo{
		padding-left: 35%;
		width: 65%;
		height: auto;
	}

	.header-t{
		display: inline-block;
		text-align: center;
		font-size: 17px;
	}



}


@media (min-width: 576px) {
	.h-logo{
		float: right;
		width: 50%;
		height: auto;
	}

	.new-logo{


		padding-right: 30%;
		width: 60%;
		height: auto;
	}

	.header-t{
		display: inline-block;
		text-align: center;
		font-size: 17px;
	}


}

@media (min-width: 768px) {

	.h-logo{
		padding-left: 150px;
		width: 70%;
		height: auto;
	}

	.new-logo{
		padding-right: 150px;
		width: 73%;
		height: auto;
	}

	.header-t{
		display: inline-block;
		text-align: center;
		font-size: 25px;
	}



	.header-t2{
		display: inline-block;
		text-align: center;
		font-size: 21px;
	}

}



@media (min-width: 992px) { }

@media (min-width: 1200px) {  }
